.wrapper{
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.tealbox{
    position: relative;
    left: 20px;
    color: white;
    background-color: #4aaaa5;
    text-align: center;
    width: 250px;
    height: 50px;
    font-family: 'Georgia', Times,'Times New Roman', serif;
    float: both;
}
.maincontent{
    position: absolute;
    background: #ffffff;
    font-family: 'Arial', 'Helvetica neue', Helvetica, sans-serif;
    margin: 40px;
}
.photo{
    height: 100px;
    width: 100px;
    padding:10px; 
    float: left;
}
#p{
    position: relative;
    padding: 10px;
}
.body{
    background-image: url("gravel.png");
}
#h2{
    border-bottom-color: #dddddd;
    border-bottom-style: groove;
    margin: 15px;
    color:#4aaaa5;
    padding-top: 5px;
    padding-left:10px;
}
.navtext{
    color: #cccccc;
    float:right;
    position: relative;
    left:-40px;

}
.clear{
    content:"";
    clear: both;
}
.footer{
    background-color: #666666;
    height:20px;
    position: absolute;
    float: both;
    z-index: 1;
}